

@model ForgetPasswordVM




@section Links{
    <link rel="stylesheet" href="~/assets/css/password.css">
}


<div class="container">
    <section id="all">
        <div class="all">
            <section id="left">
                <div class="left">
                    <h2>Forget Your Password?</h2>
                    <form asp-controller="Account" asp-action="ForgetPassword" method="post" enctype="multipart/form-data">

                        <input asp-for="Email" class="input" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <input class="button" type="submit" value="Send" />
                    </form>
                </div>
            </section>

            <section id="right">
                <div class="right">
                    <img src="~/assets/image/unsplashmasn.png" alt="">
                    <h2>welcome!</h2>
                    <p>Discover cars with us!</p>
                </div>
            </section>
        </div>
    </section>

</div>



@section Scripts{
    <script src="~/assets/js/index.js"></script>
}







