@model ResetPasswordVM




@section Links{
    <link rel="stylesheet" href="~/assets/css/password.css">
}


<div class="container">
    <section id="all">
        <div class="all">
            <div class="left">
                <div class="login-form">
                    <form asp-controller="Account" asp-action="ResetPassword" method="post" enctype="multipart/form-data">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <h2>New Password</h2>

                        <input asp-for="Password" placeholder="New Password" class="input" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <input asp-for="ConfirmPassword" placeholder="Confirm new Password" class="input" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        <input type="submit" value="Confirm" class="button" />

                        <input asp-for="Token" value="@Model.Token" type="hidden" />
                        <input asp-for="UserId" value="@Model.UserId" type="hidden" />
                    </form>
                </div>
    </section>


            <section id="right">
                <div class="right">
                    <img src="~/assets/image/unsplashmasn.png" alt="">
                    <h2>welcome!</h2>
                    <p>Discover cars with us!</p>
                </div>
            </section>
        </div>
    </section>

</div>



@section Scripts{
    <script src="~/assets/js/index.js"></script>
}


















