@model CarVM

<main>
    <section id="Kateqoriyalar">
        <div class="main_heading">
            <div class="heading_text">
                <p>Cars</p>
            </div>
        </div>
        <div class="table_items">
            <table>
                <tr>
                    <th>
                        <div class="head_txt">
                            <p>Status</p>
                        </div>
                    </th>
                    <th>
                        <div class="head_txt">
                            <p>Category Name</p>
                        </div>
                    </th>
                    <th>
                        <div class="head_txt">
                            <p>Brand</p>
                        </div>
                    </th>
                    <th>
                        <div class="head_txt">
                            <p>Adding Time</p>
                        </div>
                    </th>
                    <th>
                        <div class="head_txt">
                            <p>Operations</p>
                        </div>
                    </th>
                </tr>
                @foreach (var car in Model.Cars)
                {
                    <tr>
                        <td>
                            <div class="active">
                                <p>Active</p>
                            </div>
                        </td>
                        <td>
                            <div class="table_text">
                                <p>@car.BanType.Name</p>
                            </div>
                        </td>
                        <td>
                            <div class="table_text">
                                <p>@car.Brand.Name</p>
                            </div>
                        </td>
                        <td>
                            <div class="time">
                                <p>@car.Year</p>
                            </div>
                        </td>
                        <td class="table_flex">
                            <div class="table_icon_succes">
                                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                <lord-icon src="https://cdn.lordicon.com/iiixgoqp.json"
                                           trigger="hover"
                                           colors="primary:white"
                                           style="width:20px;height:20px">
                                </lord-icon>
                            </div>
                            <div class="table_icon_error">
                                <lord-icon src="https://cdn.lordicon.com/kfzfxczd.json"
                                           trigger="hover"
                                           colors="primary:white"
                                           style="width:20px;height:20px">
                                </lord-icon>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        </div>
    </section>
</main>