@section Links{
    <link rel="stylesheet" href="~/assets/css/about.css">
}

<section id="about_heading">
    <div class="center_container">

        <div class="salam">
            <p class="sagol">About us</p>
            <img src="~/assets/image/unsplash_QckxruozjRg.png" alt="">
            <p class="text_about">
                <b>Rent A Car MMC </b> Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Adipisci illo incidunt quibusdam veritatis accusamus totam, esse atque, magnam soluta
                nostrum commodi dolorem ullam delectus ab laboriosam similique enim? Impedit amet iste a ratione
                quae atque veritatis, sint saepe iure iusto voluptatem quis repellat ut rem ullam obcaecati
                architecto consequatur itaque odit! Illum commodi libero possimus quidem harum voluptatibus
                magnam provident, tempora vero maxime distinctio reprehenderit at eaque dolor. Reprehenderit
                repudiandae veritatis alias architecto deleniti? Voluptas vel beatae impedit odit eligendi
                excepturi sed, ab eum debitis voluptatum accusamus, aliquam sint ullam modi adipisci expedita
                in. Voluptatum aperiam iure vero atque accusantium!.
            </p>
        </div>
        <div class="necesiz">
            <p class="sagol">What we do</p>
            <div class="about_imagess">
                <div class="haqqimzda">
                    <div>
                        <img src="~/assets/image/restoran_kafe.png" alt="">
                    </div>
                </div>
                <div class="haqqimzda">
                    <div> <img src="~/assets/image/SlideCHEVROLETAVEO1-1024x640.png" alt=""></div>
                </div>
                <div class="haqqimzda">
                    <div>
                        <img src="~/assets/image/types-of-homes-hero.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
    <script src="~/assets/js/index.js"></script>
}