@model IEnumerable<City>

<main>
    <section id="Kateqoriyalar">
        <div class="main_heading">
            <div class="heading_text">
                <p>Cities</p>
            </div>
            <div class="heading_icon">
                <a asp-area="Admin" asp-controller="City" asp-action="Create" style="background-color: darkblue;width: 50px;height: 40px;padding-left: 5px;padding-right: 10px;color: white;padding-top: 11px;border-radius: 25%;margin-left: -20px;">Create</a>
            </div>
        </div>
        <div class="table_items">
            <table>
                <tr>
                    <th>
                        <div class="head_txt">
                            <p>City Name</p>
                        </div>
                    </th>
                    <th>
                        <div class="head_txt">
                            <p>Operations</p>
                        </div>
                    </th>
                </tr>
                @foreach (var city in @Model)
                {
                    <tr>

                        <td>
                            <div class="table_text">
                                <p>@city.Name</p>
                            </div>
                        </td>
                        <td class="table_flex">
                            <div class="table_icon_succes">
                                <a asp-area="Admin" asp-controller="City" asp-action="Edit" asp-route-id="@city.Id">
                                    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                    <lord-icon src="https://cdn.lordicon.com/iiixgoqp.json"
                                               trigger="hover"
                                               colors="primary:white"
                                               style="width:20px;height:20px;padding-top:3px">
                                    </lord-icon>
                                </a>
                            </div>
                            <div class="table_icon_error">
                                <a asp-area="admin" asp-controller="City" asp-action="Delete" asp-route-id="@city.Id">
                                    <lord-icon src="https://cdn.lordicon.com/kfzfxczd.json"
                                               trigger="hover"
                                               colors="primary:white"
                                               style="width:20px;height:20px;padding-top:3px">
                                    </lord-icon>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </section>
</main>