
<div class="container-footer">
    <div class="row-footer">
        <!-- footer col-->
        <div class="footer-col">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/assets/image/Logo2.jpg" alt="">
            </a>
            <ul>
                <li class="ftextsade">Subscribe to keep up with up latest news</li>
            </ul>
        </div>
        <!--end footer col-->
        <!-- footer col-->
        <div class="footer-col col_second">
            <h4>About Us</h4>
            <ul>
                <li><a href="https://www.booking.com/index.en-gb.html?label=gen173nr-1BCAEoggI46AdIM1gEaBGIAQGYAQm4ARfIAQzYAQHoAQGIAgGoAgO4AvSKmKUGwAIB0gIkNzQyMWI2NmMtY2FkMy00NWQ0LTg0ZmMtNjhjNjRiYzc5ZTZm2AIF4AIB&sid=d5f0a2b95bbb45705305ae99b1b45c20&keep_landing=1&sb_price_type=total&" target="_blank>Our Praduct</a></li>
                <li><a href="https://www.aviasales.az/search" target="_blank">Our Service</a></li>
            </ul>
        </div>
        <!--end footer col-->
        <!-- footer col-->
        <div class="footer-col col_second">
            <h4>Contact</h4>
            <ul>
                <li><a asp-controller="About" asp-action="Index">About us</a></li>
                <li><a href="https://www.instagram.com/" target="_blank">Careers</a></li>
                <li><a asp-controller="Contact" asp-action="Index">Contact us</a></li>
            </ul>
        </div>
        <!--end footer col-->
        <!-- footer col-->
        <div class="footer-col">

            <div class="medias-socias">
                <a href="https://www.facebook.com/" target="_blank" > <i class="fa fa-facebook"></i> </a>
                <a href="https://www.instagram.com/"target="_blank"> <i class="fa fa-instagram"></i> </a>
                <a href="https://twitter.com/" target="_blank"> <i class="fa fa-twitter"></i> </a>
            </div>

            <div class="text">
                <p>Copyright © 2023 All rights reserved.</p>
            </div>
        </div>




    </div>
</div>